node_modules/
.env
.venv/
__pycache__/
*.pyc

data/
datasets/
*.csv
*.xlsx

models/
*.pt
*.pth
*.bin

logs/
*.log

dist/
build/
.cache/
.next/
frontend/app/.next/
frontend/app/node_modules/
**/node_modules/
**/.next/
**/.cache/

.vscode/